{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link href="{% static 'bootstrap-5.3.3/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- SweetAlert2 CDN -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <link rel="icon" type="image/png" href="{% static 'images/Nexwork/logoNexwork.png' %}">

    <link rel="stylesheet" href="{% static 'css/Nexwork/login.css' %}">
</head>
<body>
    <div class="container-fluid">
        <div class="row no-gutter">
            <!-- Parte de la imagen -->
            <div class="col-md-6 d-none d-md-flex bg-image" style="background-image: url('{% static 'images/Nexwork/banner-login.jpg' %}'); background-size: cover; background-position: center;"></div>

            <!-- Parte del formulario -->
            <div class="col-md-6 bg-light">
                <div class="login d-flex align-items-center py-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-10 col-xl-7 mx-auto">
                                <h3 class="display-4 fw-bold">Bienvenido</h3>
                                <p class="text-muted mb-4">
                                    La plataforma donde conectas con profesionales, gestionas tu perfil y accedes a nuevas oportunidades laborales.
                                </p>
                            
                                <form>
                                    <div class="form-group mb-3">
                                        <input id="inputUser" type="text" placeholder="Usuario" required class="form-control rounded-pill border-0 shadow-sm px-4">
                                    </div>
                                    <div class="form-group mb-3">
                                        <input id="inputPassword" type="password" placeholder="Contraseña" required class="form-control rounded-pill border-0 shadow-sm px-4 text-primary">
                                    </div>
                                    <div class="custom-control custom-checkbox mb-3">
                                        <input id="customCheck1" type="checkbox" checked class="custom-control-input">
                                        <label for="customCheck1" class="custom-control-label">Recordar mis datos</label>
                                    </div>
                                    <button type="submit" class="btn btn-primary d-block mx-auto text-uppercase mb-2 rounded-pill shadow-sm px-5">
                                        Iniciar sesión
                                    </button>

                                    <div class="text-center mt-3">
                                        <small><a href="#">¿Olvidaste tu contraseña?</a></small><br>
                                        <small class="d-block mt-2">
                                            ¿No tienes cuenta? <a href="{% url 'registro' %}" class="text-decoration-none fw-semibold">Regístrate</a>
                                        </small>
                                    </div>
                                </form>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="{% static 'bootstrap-5.3.3/js/bootstrap.bundle.min.js' %}"></script>

    <script src="{% static 'js/Nexwork/auth/login.js' %}"></script>
</body>
</html>
