        /*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
.login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image: url('https://images.ctfassets.net/63bmaubptoky/3gb5kfdtXRFNxEUbMDKpdE/cea0f5f0a72fed95492bbc3ab5b2370d/gesta_o-call-center-BR-Capterra-Header.png');
  background-size: cover;
  background-position: center center;
}